<ul class="themes-list">
  <% @forum_messages.each do |message| %>
  <li class="themes-item">
    <div class="theme-author"><%= message.author %></div>
    <div class="last-post"><%= message.text %></div>
    <div class="theme-buttons">
      <button>Редактировать</button>
      <button>Удалить</button>
    </div>
  </li>
  <% end %>
</ul>
<%= form_with url: posts_api_path, html: {class: "new-post"} do |f| %>
  <%= f.text_field :author, required: true, minlength: 2, placeholder: "Имя Автора" %>
  <%= f.text_area :text, rows: 10, required: true, minlength: 2, placeholder: "Ваш текст..." %>
  <%= f.submit "Опубликовать пост", class: "button" %>
<% end %>