<!DOCTYPE html>
<html>
  <head>
    <title>RailsForum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-logo"><%= link_to "Типа ФОРУМ", root_url %></div>
      <div class="header-logo"><%= link_to "Посты", posts_path %></div>
      <div class="mid-v">
        <div class="header-state">Состояние</div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="copyright mid-v">Сделано Alex Krol 2022 &#169; <krolmail@list.ru></div>
    </footer>
  </body>
</html>
